/* @import "less/bootstrap.less"; */
@import "_less/reset.less";
@import "_less/scaffolding.less";
@import "_less/grid.less";
@import "_less/layouts.less";
@import "_less/responsive.less";
@import "_less/type.less";
/*@import "_less/tooltip.less";*/
/*@import "_less/forms.less";*/

html{
	height:100%;
}
body{
	height:100%;
	color:#fff;
	text-shadow:#000 1px 1px 0;
	font-size:14px;
	line-height: 1.4;
	a{	
		color:#fff;
		text-shadow:1px 1px 0 #000;
		text-decoration:none;
		&:hover{
			color:#333;
		}
	}
	h1{
		font-size:inherit;
		margin-top:-2px;
		color:#fff;
	}
	#header{
		#logo{
			margin-top:50px;
		}
		margin:0;
		padding:0;
	}
	#twitter{
		color:#fff;
		text-shadow:1px 1px 0 #000;
		text-transform:lowercase;
		background:url(../images/quote.png) repeat-y top left;
		padding: 0 0 0 20px;
		margin: 20px 0;
		.follow{
			font-size:12px;
		}
		ul{
			list-style:none;
			text-indent:none;
			padding:0;
			margin:0 0 10px 0;
		}
	}
	#about{
		color:#fff;
		text-shadow:1px 1px 0 #000;
	}
	#social{
		margin:20px auto;
		width:300px;
		clear:both;
		.button{
			padding:5px 5px 1px 5px;
			float:left;
			background:#fff;
			margin: 10px;
			&:hover{
				-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 5, 50, 1);
				-moz-box-shadow: 0px 0px 10px 0px rgba(50, 5, 50, 1);
				box-shadow: 0px 0px 10px 0px rgba(50, 5, 50, 1);
			}
		}
	}
}



 



/* 
	================
	================
	================
	***QUERY SETS***
	================
	================
	================
*/


@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {  } 
@media screen and (max-device-width: 1024px) and (orientation: landscape) { }
@media screen and (max-width: 768px) {} 
@media screen and (max-device-width: 1024px) and (orientation: portrait) { }
@media handheld and (max-width: 480px),
       screen and (max-device-width: 480px),
       screen and (max-width: 600px) { }


/*
	body::before{
        content: "Tablet media query (Max 768) fired";
        font-weight: bold;
        display: block;
        text-align: center;
        background: rgba(255,255,0, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
*/